doctype html
html
    head
        script(src="../../angular.min.js")
        script(src="../../route.js")
        script(src="../../main.js")
        script(src="//code.jquery.com/jquery-1.10.2.min.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")
        link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="default.css")
        body
            div(ng-app="mainApp" ng-controller="mainController" ng-init="book = #{JSON.stringify(book)}")
                li #{book.title}
                li #{book.author}
                li #{book.price}
                li #{book.avail}
                a(href="#editBookForm") edit
                br
                label Edit Author
                input(ng-model="searchContent",ng-change="search('author')")
                div(ng-view="")
                        